@import "variables";
@import "mixins";
@import "base";
@import "flexbox";
@import "clearfix";

// Top Bar
.topbar {
  background: $primary-color;
  color: #fff;
  font-size: 0.8rem;
  line-height: 1.5rem;
  padding: 0.75rem 00 0.6rem;

  .text {
    p {
      a {
        color: $secondary-color;
      }
    }
  }

  .social {
    i {
      margin-right: 1rem;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

// Nav Bar
nav {
  line-height: 6rem;

  .brand {
    font-size: 3rem;
  }

  .nav-box {
    display: flex;
    a {
      color: $dark-color;
      display: inline-block;
    }

    ul.navbar {
      list-style: none;
      display: flex;
      li {
        a {
          margin-right: 2rem;
          text-transform: uppercase;
          font-size: 0.8rem;
        }
      }
    }

    .icons {
      a {
        margin-left: 1rem;
      }
    }
  }
}

// Header
header {
  height: calc(100vh - 7.5rem);
  background: url("../img/header.jpg") no-repeat top / cover;
  position: relative;
  color: #fff;

  .box {
    padding-top: 8rem;
    top: 50%;
    transform: translateY(-50%);
    left: 10vw;
    position: absolute;
    width: 40vw;
    h1 {
      font-size: 4rem;
      text-transform: capitalize;
    }
    p {
      padding-bottom: 1.5rem;
    }
  }
}

// header Bottom Boxes
.boxes {
  background: $dark-color-2;
  color: #fff;

  .box {
    margin: 2rem 1rem;

    .icon {
      margin-right: 1rem;
    }
  }
}
